body {
	background: #f8f8b4;
}

hr {
	width: 100%;
}

.addr-field {
	margin-bottom: 5vh;
	font-family: cursive;
}

.address {
	left: 10%;
	font-weight: 800;
}
@media only screen and (max-width: 600px) {
	.address {
		top: 30px;
		left: 0;
		margin-left: 10px;
		margin-right: 15px;
	}
}
