body {
	background: #cfe1b9;
}

hr {
	width: 100%;
}

.address {
	left: 10%;
}
@media only screen and (max-width: 600px) {
	.address {
		top: 30px;
		left: 0;
		margin-left: 10px;
		margin-right: 15px;
	}
}
